body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Barlow" serif;
  background-color: black;
  width: 100vw;
}
.app {
  background-color: blue;
  width: 100vw;
}
