.benefits {
  
  width: 100vw;}
.benefits_para {
  font-family: "Barlow" !important;
  font-weight: bolder;
  font-size: 18px;
  line-height: 30.3px;
  color: hsl(206, 16%, 45%);
}

@media (min-width: 576px) {
    .benefits {
    display: flex;
  }
  .benefits_textWrapper {
    font-family: "Fraunces";
    width: 50vw;
    display: grid;
    place-items: center;
  }
  .benefits_text {
    height: fit-content;
    width: 60%;
  }
  .benefits_img {
    width:50vw;
  }
  .benefits_btn {
    width: fit-content;
  }
  .benefits_para {
    padding: 3vw 0;
  }
}
@media (max-width: 575px) {
  .benefits {
    display: block;
  }
  .benefits_img {
    height: 312px;
    width: 100vw;
    margin: 0%;
  }

  .benefits_text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Fraunces";
    padding: 40px 20px;
  }
  .benefits_para {
    padding: 30px 0px;
  }
  .benefits_btn {
    margin: auto;
  }
}
