.gallery {
  width: 100vw;
}
@media (max-width: 575px) {
  .gallery_img {
    width: 50vw;
  }
}
@media (min-width: 576px) {
  .gallery {
    display: flex;
    flex-wrap: nowrap;
  }
  .gallery_img {
    width: 25vw;
  }
}
