.services {
  display: flex;
}
.service {
  position: relative;
}
.service,
.service_img {
  width: 50vw;
}
.service_content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.service_text {
  text-align: center;
  font-family: "Fraunces";
  font-weight: bolder;
  width: 70%;
  margin-bottom: 3vw; 
}
.service_para {
  font-family: "Barlow" !important;
  font-weight: bolder;
  font-size: 18px !important;
  padding: 30px 30px;
  line-height: 22.3px;
}
@media (max-width: 750px) and (min-width:576px) {
  .service_content {display: block;}
  .service_text {margin: 0 auto; margin-top: 2vw;width: 80%;}
}
@media (max-width: 575px) {
 
  .services {
    display: block;
  }
 .service,
.service_img {
  width: 100vw;
}
  .service_text {
    left: 0px;
    width: 100%;
  }
  .service_para {
    font-size: 15px !important;
  }
}
